.btn {
  padding: 1rem;
  background-color: #5e5e5e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (width <= 31.75em) {
  .btn-add-new-note {
    display: none;
  }
}
