.box {
  width: 100%;
  display: grid;
  gap: 1rem;
  justify-self: center;
  background-color: #1c2529;
  padding: 2rem 3rem;
  border-radius: 15px;
  position: relative;
}
.form {
  display: grid;
  gap: 1rem;
}

@media only screen and (width <= 27.75em) {
  .box {
    padding: 2rem;
  }
}
