.box {
  width: 100%;
  min-height: 24rem;
  display: grid;
  gap: 1rem;
  justify-self: center;
  align-content: start;
  background-color: #1c2529;
  padding: 2rem 3rem;
  border-radius: 15px;
  position: relative;
}
.form {
  display: grid;
  grid-template-rows: min-content minmax(10rem, min(29rem, 100%)) min-content;
  gap: 1rem;
}

.form-add-new-note {
  display: grid;
  /* grid-template-rows: repeat(2, min-content) minmax(10rem, min(29rem, 32rem)) min-content; */
  grid-template-rows: repeat(2, min-content) minmax(10rem, 25rem) min-content;
  gap: 1rem;
}

.box-textarea {
  height: calc(100% - 20px);
}

.box-textarea > div {
  height: calc(100% - 20px);
}

.box-textarea textarea {
  width: 100%;
  height: calc(100% - 20px);
  box-sizing: border-box;
  line-height: 1.5;
}

.box-checklist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(36px, 40px));
  gap: 0.4rem 0.7rem;
  overflow: hidden;
  overflow-y: scroll;
}

.box-checklist > div {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

@media only screen and (width < 900px) {
  .box {
    grid-template-rows: min-content 1fr;
    padding: 1.4rem;
  }
}

.box-add-new-checklist {
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (width <= 27.75em) {
  .box {
    padding: 1rem 16px;
  }
}

.btnTabs {
  all: unset;
  display: flex;
  align-content: center;
  gap: 6px;
  font-family: var(--font-mono);
  font-size: 0.91rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: hsl(227deg 12.23% 25.02% / 22%);
  border-radius: max(var(--radius-3));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.box-tabs {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 31%, 0.78);
}

.active {
  background-color: hsl(227deg 15% 36% / 28%);
  border-bottom: 1px solid #5472e4;
}

.title-add-new-note {
  display: flex;
  align-content: center;
  gap: 10px;
}

.btn-close-x {
  all: unset;
  display: flex;
  align-content: center;
  gap: 6px;
  font-family: var(--font-mono);
  font-size: 0.91rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: hsla(336, 57%, 20%, 0.651);
  border-radius: max(var(--radius-3));
  cursor: pointer;
}
