.main {
  min-height: 100vh;
  display: grid;
  padding: 2rem 6rem;
}

@media (max-width: 700px) {
  .main {
    padding: 1rem 2rem;
  }
}

.description {
  width: 100%;
  display: grid;
  font-family: var(--font-mono);
  z-index: 2;
}
