.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 1rem;
}

@media only screen and (width <= 27.75em) {
  .header {
    padding-bottom: 2rem;
  }
}

.header > span {
  align-self: center;
}

.header > div {
  justify-self: end;
}

.title-logo {
  display: flex;
  align-content: center;
  gap: 10px;
}
