.footer {
  display: grid;
  place-items: center;
  padding: 3rem 2rem;
}

.footer p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: #e5edf5;
}

.footer a {
  font-size: 0.9rem;
  all: unset;
  display: flex;
  font-family: var(--font-mono);
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  color: rgb(112, 184, 255);
  margin: 0 4px;
}

.heart {
  margin: 0 4px;
}

.code {
  margin-right: 4px;
  transform: translateY(-3px);
}
